body{ margin:0;}
*{font-family: Tahome, sans-serif; color: #333333;}
input, textarea, select{border: 1px #cccccc solid;}
fieldset{border: 1px  #cccccc solid; margin: 10px;}
fieldset legend{color: #666666; font-size: 11pt;}
input.botao{
    float: right;
    margin: 5px;
    height: 25px;
    color: #96281B;
    background-color: #ffffff;
    border: 1px #96281B solid;
}

sucess{
    color: #009900;
}

erro{
    color: #ff3333;
}

pequeno{
    color: #999999;
    font-size: 10pt;
}

table#info{
    font-size: 12pt;
    
}
table#info tr td#dados{
   width: 500px;
}
table#info tr td#acoes{
   width: 200px;
}

table#formulario{
    font-size: 11pt;
}

div#corpo{
    margin: 0 auto;
    width: 900px;
}

table#geral{
    border: 1px  #96281B solid;
    border-spacing: 0;
    width: 900px;
    height: 600px;
    min-height: 600px;
}

table#geral td{
    
}

td#banner{
    
    height: 75px;
    
}
td#menu{
    width: 75px;
    background-color: #96281B;  
}

ul#opcoes{
    padding: 0;
    margin: 0;
    list-style: none;
}
ul#opcoes li{
    
}

td#conteudo{
    
    padding: 20px;
}

td#titulo{
    padding-left: 10px;
    font-size: 16pt;
    color: #96281B;
    height: 50px;
}

td#rodape{
    clear: both;
    height: 25px;
    background-color: #96281B;
    color: #ffffff;
    font-size: 9pt;
    text-align: center;
}

label { display: block; margin-top: 10px; } 
label.error { float: none; color: red; margin: 0 .5em 0 0; vertical-align: top; font-size: 10px } 
